<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiwei.sunny.mdm.permis.mapper.PermisResourceMapper" >
  <!--The file was generated on 2017-11-06 14:52:56 by Administrator-->
  <resultMap id="BaseResultMap" type="com.caiwei.sunny.mdm.permis.api.domain.PermisResourceDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="res_code" property="resCode" jdbcType="VARCHAR" />
    <result column="res_name" property="resName" jdbcType="VARCHAR" />
    <result column="entry_url" property="entryUrl" jdbcType="VARCHAR" />
    <result column="res_level" property="resLevel" jdbcType="INTEGER" />
    <result column="parent_res" property="parentRes" jdbcType="VARCHAR" />
    <result column="res_type" property="resType" jdbcType="INTEGER" />
    <result column="display_order" property="displayOrder" jdbcType="INTEGER" />
    <result column="checked" property="checked" jdbcType="INTEGER" />
    <result column="leaf_flag" property="leafFlag" jdbcType="INTEGER" />
    <result column="node_cls" property="nodeCls" jdbcType="VARCHAR" />
    <result column="icon_cls" property="iconCls" jdbcType="VARCHAR" />
    <result column="system_code" property="systemCode" jdbcType="VARCHAR" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, res_code, res_name, entry_url, res_level, parent_res, res_type, display_order,
    checked, leaf_flag, node_cls, icon_cls, system_code, notes, status, create_time
  </sql>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_mdm_permis_resource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from t_mdm_permis_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.caiwei.sunny.mdm.permis.api.domain.PermisResourceDO" >
    insert into t_mdm_permis_resource (id, res_code, res_name,
      entry_url, res_level, parent_res, 
      res_type, display_order, checked, 
      leaf_flag, node_cls, icon_cls, 
      system_code, notes, status, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{resCode,jdbcType=VARCHAR}, #{resName,jdbcType=VARCHAR},
      #{entryUrl,jdbcType=VARCHAR}, #{resLevel,jdbcType=INTEGER}, #{parentRes,jdbcType=VARCHAR}, 
      #{resType,jdbcType=INTEGER}, #{displayOrder,jdbcType=INTEGER}, #{checked,jdbcType=INTEGER}, 
      #{leafFlag,jdbcType=INTEGER}, #{nodeCls,jdbcType=VARCHAR}, #{iconCls,jdbcType=VARCHAR}, 
      #{systemCode,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="update" parameterType="com.caiwei.sunny.mdm.permis.api.domain.PermisResourceDO" >
    update t_mdm_permis_resource
    <set >
      <if test="resCode != null" >
        res_code = #{resCode,jdbcType=VARCHAR},
      </if>
      <if test="resName != null" >
        res_name = #{resName,jdbcType=VARCHAR},
      </if>
      <if test="entryUrl != null" >
        entry_url = #{entryUrl,jdbcType=VARCHAR},
      </if>
      <if test="resLevel != null" >
        res_level = #{resLevel,jdbcType=INTEGER},
      </if>
      <if test="parentRes != null" >
        parent_res = #{parentRes,jdbcType=VARCHAR},
      </if>
      <if test="resType != null" >
        res_type = #{resType,jdbcType=INTEGER},
      </if>
      <if test="displayOrder != null" >
        display_order = #{displayOrder,jdbcType=INTEGER},
      </if>
      <if test="checked != null" >
        checked = #{checked,jdbcType=INTEGER},
      </if>
      <if test="leafFlag != null" >
        leaf_flag = #{leafFlag,jdbcType=INTEGER},
      </if>
      <if test="nodeCls != null" >
        node_cls = #{nodeCls,jdbcType=VARCHAR},
      </if>
      <if test="iconCls != null" >
        icon_cls = #{iconCls,jdbcType=VARCHAR},
      </if>
      <if test="systemCode != null" >
        system_code = #{systemCode,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>