<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiwei.sunny.mdm.permis.mapper.PermisUserRoleMapper" >
  <!--The file was generated on 2017-11-06 14:52:56 by Administrator-->
  <resultMap id="BaseResultMap" type="com.caiwei.sunny.mdm.permis.api.domain.PermisUserRoleDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tuser_id" property="tuserId" jdbcType="INTEGER" />
    <result column="tdept_id" property="tdeptId" jdbcType="INTEGER" />
    <result column="trole_id" property="troleId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, tuser_id, tdept_id, trole_id, status, create_time
  </sql>
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from t_mdm_permis_user_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.caiwei.sunny.mdm.permis.api.domain.PermisUserRoleDO" >
    insert into t_mdm_permis_user_role (id, tuser_id, tdept_id,
    trole_id, status, create_time
    )
    values (#{id,jdbcType=INTEGER}, #{tuserId,jdbcType=INTEGER}, #{tdeptId,jdbcType=INTEGER},
    #{troleId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
    )
  </insert>
  <update id="update" parameterType="com.caiwei.sunny.mdm.permis.api.domain.PermisUserRoleDO" >
    update t_mdm_permis_user_role
    <set >
      <if test="tuserId != null" >
        tuser_id = #{tuserId,jdbcType=INTEGER},
      </if>
      <if test="tdeptId != null" >
        tdept_id = #{tdeptId,jdbcType=INTEGER},
      </if>
      <if test="troleId != null" >
        trole_id = #{troleId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>