<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiwei.business.comm.mapper.TermsValueMapper" >
    <!--The file was generated on 2017-06-14 09:46:37 by Administrator-->
    <resultMap id="BaseResultMap" type="com.caiwei.business.comm.service.api.domain.TermsValuePO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="value_code" property="valueCode" jdbcType="VARCHAR" />
        <result column="value_name" property="valueName" jdbcType="VARCHAR" />
        <result column="terms_code" property="termsCode" jdbcType="VARCHAR" />
        <result column="value_seq" property="valueSeq" jdbcType="TINYINT" />
        <result column="notes" property="notes" jdbcType="VARCHAR" />
        <result column="version_no" property="versionNo" jdbcType="DECIMAL" />
        <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
        <result column="create_user" property="createUser" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="modify_user" property="modifyUser" jdbcType="VARCHAR" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, value_code, value_name, terms_code, value_seq, notes, version_no, is_delete,
        create_user, create_time, modify_user, modify_time
    </sql>

    <select id="findTermsValues" resultMap="BaseResultMap" parameterType="String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_base_data_termsvalue t
        WHERE t.terms_code = #{termsCode,jdbcType=VARCHAR}
    </select>

    <select id="findTermsValueByCode" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_base_data_termsvalue t
        WHERE t.terms_code = #{termsCode,jdbcType=VARCHAR}
        AND  t.value_code = #{valueCode,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.caiwei.business.comm.service.api.domain.TermsValuePO" >
        insert into t_base_data_termsvalue (id, value_code, value_name,
        terms_code, value_seq, notes,
        version_no, is_delete, create_user,
        create_time, modify_user, modify_time
        )
        values (#{id,jdbcType=INTEGER}, #{valueCode,jdbcType=VARCHAR}, #{valueName,jdbcType=VARCHAR},
        #{termsCode,jdbcType=VARCHAR}, #{valueSeq,jdbcType=TINYINT}, #{notes,jdbcType=VARCHAR},
        #{versionNo,jdbcType=DECIMAL}, #{isDelete,jdbcType=TINYINT}, #{createUser,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update" parameterType="com.caiwei.business.comm.service.api.domain.TermsValuePO" >
        update t_base_data_termsvalue
        <set >
            <if test="valueCode != null" >
                value_code = #{valueCode,jdbcType=VARCHAR},
            </if>
            <if test="valueName != null" >
                value_name = #{valueName,jdbcType=VARCHAR},
            </if>
            <if test="termsCode != null" >
                terms_code = #{termsCode,jdbcType=VARCHAR},
            </if>
            <if test="valueSeq != null" >
                value_seq = #{valueSeq,jdbcType=TINYINT},
            </if>
            <if test="notes != null" >
                notes = #{notes,jdbcType=VARCHAR},
            </if>
            <if test="versionNo != null" >
                version_no = #{versionNo,jdbcType=DECIMAL},
            </if>
            <if test="isDelete != null" >
                is_delete = #{isDelete,jdbcType=TINYINT},
            </if>
            <if test="createUser != null" >
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyUser != null" >
                modify_user = #{modifyUser,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null" >
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>