<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiwei.console.persistent.mapper.EmployeeMapper">
    <!--The file was generated on 2017-11-06 14:52:56 by Administrator-->
    <resultMap id="BaseResultMap" type="com.caiwei.console.persistent.domain.EmployeePO">
        <id column="id" property="tid"/>
        <result column="emp_code" property="empCode"/>
        <result column="emp_name" property="empName"/>
        <result column="dept_code" property="deptCode"/>
        <result column="dept_name" property="deptName"/>
        <result column="gender" property="gender"/>
        <result column="mobile_no" property="mobileNo"/>
        <result column="email" property="email"/>
        <result column="tel_phone" property="telPhone"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, emp_code, emp_name, dept_code, dept_name, gender, mobile_no, email, tel_phone, status, create_time
      </sql>

    <select id="findByDeptCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_mdm_org_employee
        where dept_code = #{deptCode}
    </select>

    <select id="findByEmpCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_mdm_org_employee
        where emp_code = #{empCode}
    </select>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_mdm_org_employee
        where id = #{id}
    </select>

    <insert id="insert" parameterType="com.caiwei.console.persistent.domain.EmployeePO">
    insert into t_mdm_org_employee (emp_code, emp_name, dept_code, dept_name, gender, mobile_no, email, tel_phone, status, create_time, modify_time)
    values (#{empCode}, #{empName}, #{deptCode}, #{deptName}, #{gender}, #{mobileNo}, #{email}, #{telPhone}, #{status}, #{createTime}, #{modifyTime})
  </insert>

    <update id="update" parameterType="com.caiwei.console.persistent.domain.EmployeePO">
        update t_mdm_org_employee
        <set>
            <if test="empName != null and empName != ''">
                emp_name = #{empName},
            </if>
            <if test="deptCode != null and deptCode != ''">
                dept_code = #{deptCode},
            </if>
            <if test="deptName != null and deptName != ''">
                dept_name = #{deptName},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="mobileNo != null and mobileNo != ''">
                mobile_no = #{mobileNo},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="telPhone != null and telPhone != ''">
                tel_phone = #{telPhone},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
        </set>
        <where>
            <if test="id != null">
                and id = #{tid}
            </if>
            <if test="empCode != null">
                and emp_code = #{empCode}
            </if>
        </where>
    </update>
</mapper>