<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiwei.console.persistent.mapper.RoleMapper">
    <!--The file was generated on 2017-11-06 14:52:56 by Administrator-->
    <resultMap id="BaseResultMap" type="com.caiwei.console.common.domain.RoleDO">
        <id column="id" property="tid"/>
        <result column="role_code" property="roleCode"/>
        <result column="role_name" property="roleName"/>
        <result column="system_code" property="systemCode"/>
        <result column="type" property="type"/>
        <result column="notes" property="notes"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <resultMap id="ResultWithResourceMap" type="com.caiwei.console.common.domain.RoleDO" extends="BaseResultMap">
        <collection property="resCodes" column="res_code" ofType="String">
            <result column="res_code"/>
        </collection>
    </resultMap>

    <select id="findByCode" resultMap="ResultWithResourceMap" parameterType="java.lang.String">
        select <include refid="Base_Column_List"/>
        ,rr.res_code
        from t_mdm_permis_role r
        left join t_mdm_permis_role_resource rr on r.role_code= rr.role_code
        where r.role_code = #{roleCode}
    </select>

    <sql id="Base_Column_List">
        r.id,r.role_code,r.role_name,r.system_code,r.`type`,r.notes,r.status,r.create_time,r.modify_time
    </sql>

    <sql id="param_sql">
        <if test="tid != null">
            and r.id = #{tid}
        </if>
        <if test="roleCode != null and roleCode != ''">
            and r.role_code = #{roleCode}
        </if>
        <if test="roleName != null  and roleName != ''">
            and r.role_name like concat('%',concat(#{roleName},'%'))
        </if>
        <if test="systemCode != null and systemCode != ''">
            and r.system_code = #{systemCode}
        </if>
        <if test="type != null and type != ''">
            and r.`type` = #{type}
        </if>
        <if test="status != null">
            and r.status = #{status}
        </if>
    </sql>
    
    <delete id="deleteUserRole" >
        delete from t_mdm_permis_user_role where user_code = #{userCode} and dept_code = #{deptCode}
    </delete>

    <select id="queryOrgRoleByUserCode" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from t_mdm_permis_role r,
        t_mdm_permis_user_role ur
        where r.role_code = ur.role_code
        <if test="userCode != null and userCode != ''">
            and ur.user_code = #{userCode}
        </if>
        <if test="deptCode != null and deptCode != ''">
            and ur.dept_code = #{deptCode}
        </if>
    </select>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select <include refid="Base_Column_List"/>
        from t_mdm_permis_role r where r.id = #{tid}
    </select>

    <select id="totalCount" resultType="java.lang.Long" parameterType="com.caiwei.console.common.domain.RoleDO">
        select count(id)
        from t_mdm_permis_role r
        <where>
            <include refid="param_sql"/>
        </where>
    </select>

    <select id="findByParam" resultMap="BaseResultMap" parameterType="com.caiwei.console.common.domain.RoleDO">
        select <include refid="Base_Column_List"/>
        from t_mdm_permis_role r
        <where>
            <include refid="param_sql"/>
        </where>
    </select>

    <delete id="roleResourceDelete">
        delete from t_mdm_permis_role_resource
        where role_code = #{roleCode} and res_code in
        <foreach collection="resCodes" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.caiwei.console.persistent.domain.RolePO">
        insert into t_mdm_permis_role (role_code, role_name,system_code, `type`, notes, status, create_time, modify_time)
        values (#{roleCode}, #{roleName}, #{systemCode}, #{type}, #{notes}, #{status}, #{createTime}, #{modifyTime})
      </insert>

    <insert id="batchSaveUserRole" parameterType="java.util.List">
        insert into t_mdm_permis_user_role ( user_code, dept_code, role_code, status, create_time, modify_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.userCode}, #{item.deptCode}, #{item.roleCode}, #{item.status}, #{item.createTime}, #{item.modifyTIme})
        </foreach>
    </insert>

    <insert id="roleResourceBatchSave" parameterType="java.util.List">
        insert into t_mdm_permis_role_resource (role_code, res_code, status, create_time, modify_time)
        values
        <foreach collection="list" item="item" separator=",">
          (#{item.roleCode}, #{item.resCode},#{item.status}, #{item.createTime}, #{item.modifyTime})
        </foreach>
    </insert>

    <update id="updateStatus">
        update t_mdm_permis_role
        set `status` = #{status}
        where role_code in
        <foreach collection="roleCodes" close=")" open="(" item="item" separator=",">
            #{item}
        </foreach>
    </update>

    <update id="update" parameterType="com.caiwei.console.persistent.domain.RolePO">
        update t_mdm_permis_role
        <set>
            <if test="roleName != null  and roleName != ''">
                role_name = #{roleName},
            </if>
            <if test="systemCode != null and systemCode != ''">
                system_code = #{systemCode},
            </if>
            <if test="type != null and type != ''">
                `type` = #{type},
            </if>
            <if test="notes != null and notes != ''">
                notes = #{notes},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
        </set>
        <where>
            <if test="tid != null">
                and id = #{tid}
            </if>
            <if test="roleCode != null and roleCode != ''">
                and role_code = #{roleCode}
            </if>
        </where>
    </update>
</mapper>