<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiwei.console.persistent.mapper.TermsCodeMapper">
    <!--The file was generated on 2017-11-06 14:52:56 by Administrator-->
    <resultMap id="BaseResultMap" type="com.caiwei.console.common.domain.TermsCodeDO">
        <id column="id" property="tid"/>
        <result column="terms_code" property="termsCode"/>
        <result column="terms_name" property="termsName"/>
        <result column="notes" property="notes"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <resultMap id="ContainValueResultMap" type="com.caiwei.console.common.domain.TermsCodeDO" extends="BaseResultMap">
        <collection column="terms_code" property="termsValueDOS" ofType="com.caiwei.console.common.domain.TermsValueDO">
            <id column="tv_id" property="tid"/>
            <result column="tv_value_code" property="valueCode"/>
            <result column="tv_value_name" property="valueName"/>
            <result column="tv_terms_code" property="termsCode"/>
            <result column="tv_value_seq" property="valueSeq"/>
            <result column="tv_notes" property="notes"/>
            <result column="tv_status" property="status"/>
            <result column="tv_create_time" property="createTime"/>
            <result column="tv_modify_time" property="modifyTime"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id, terms_code, terms_name, notes, status, create_time
      </sql>

    <select id="findAllCode"  resultMap="ContainValueResultMap">
        select
            tc.id,
            tc.terms_code,
            tc.terms_name,
            tc.notes,
            tc.status,
            tc.create_time,
            tv.id as tv_id,
            tv.value_code as tv_value_code,
            tv.value_name as tv_value_name,
            tv.terms_code as tv_terms_code,
            tv.value_seq as tv_value_seq,
            tv.notes as tv_notes,
            tv.status as tv_status,
            tv.create_time as tv_create_time,
            tv.modify_time as tv_modify_time
        from t_mdm_data_termscode tc, t_mdm_data_termsvalue tv
        where tc.terms_code = tv.terms_code
    </select>

    <select id="findByTermsCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_mdm_data_termscode
        where terms_code = #{termsCode}
    </select>

    <insert id="insert" parameterType="com.caiwei.console.persistent.domain.TermsCodePO">
        insert into t_mdm_data_termscode (terms_code, terms_name,notes, status, create_time, modify_time)
        values (#{termsCode}, #{termsName}, #{notes}, #{status}, #{createTime}, #{modifyTime})
    </insert>

    <update id="update" parameterType="com.caiwei.console.persistent.domain.TermsCodePO">
        update t_mdm_data_termscode
        <set>
            <if test="termsName != null and termsName != ''">
                terms_name = #{termsName},
            </if>
            <if test="notes != null and notes != ''">
                notes = #{notes},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
        </set>
        <where>
            <if test="tid != null">
                and id = #{tid}
            </if>
            <if test="termsCode != null and termsCode != ''">
                and terms_code = #{termsCode}
            </if>
        </where>
    </update>
</mapper>