<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiwei.console.persistent.mapper.TermsValueMapper">
    <!--The file was generated on 2017-11-06 14:52:56 by Administrator-->
    <resultMap id="BaseResultMap" type="com.caiwei.console.persistent.domain.TermsValuePO">
        <id column="ttv_id" property="tid"/>
        <result column="value_code" property="valueCode"/>
        <result column="value_name" property="valueName"/>
        <result column="terms_code" property="termsCode"/>
        <result column="value_seq" property="valueSeq"/>
        <result column="notes" property="notes"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, value_code, value_name, terms_code, value_seq, notes, status, create_time, modify_time
  </sql>

    <select id="findByTermsCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_mdm_data_termsvalue
        where terms_code = #{termsCode}
    </select>

    <select id="findByTermsCodeAndValueCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_mdm_data_termsvalue
        where terms_code = #{termsCode} and value_code = #{valueCode}
    </select>

    <insert id="insert" parameterType="com.caiwei.console.persistent.domain.TermsValuePO">
    insert into t_mdm_data_termsvalue (value_code, value_name, terms_code, value_seq, notes, status, create_time, modify_time)
    values (#{valueCode}, #{valueName}, #{termsCode}, #{valueSeq}, #{notes}, #{status}, #{createTime}, modifyTime)
  </insert>

    <update id="update" parameterType="com.caiwei.console.persistent.domain.TermsValuePO">
        update t_mdm_data_termsvalue
        <set>
            <if test="valueName != null and valueName != ''">
                value_name = #{valueName},
            </if>
            <if test="termsCode != null and termsCode != ''">
                terms_code = #{termsCode},
            </if>
            <if test="valueSeq != null">
                value_seq = #{valueSeq},
            </if>
            <if test="notes != null">
                notes = #{notes},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
        </set>
        <where>
            <if test="id != null">
                and id = #{tid}
            </if>
            <if test="valueCode != null and valueCode != ''">
                and value_code = #{valueCode}
            </if>
        </where>
    </update>
</mapper>