<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiwei.console.persistent.mapper.UserRoleMapper">
    <!--The file was generated on 2017-11-06 14:52:56 by Administrator-->
    <resultMap id="BaseResultMap" type="com.caiwei.console.persistent.domain.UserRolePO">
        <id column="id" property="tid"/>
        <result column="user_code" property="userCode"/>
        <result column="dept_code" property="deptCode"/>
        <result column="role_code" property="roleCode"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_code, dept_code, role_code, status, create_time, modify_time
  </sql>

    <insert id="insert" parameterType="com.caiwei.console.persistent.domain.UserRolePO">
    insert into t_mdm_permis_user_role ( user_code, dept_code, role_code, status, create_time, modify_time)
    values (#{userCode}, #{deptCode}, #{roleCode}, #{status}, #{createTime}, #{modifyTIme})
  </insert>

    <update id="update" parameterType="com.caiwei.console.persistent.domain.UserRolePO">
        update t_mdm_permis_user_role
        <set>
            <if test="userCode != null and userCode != ''">
                user_code = #{userCode},
            </if>
            <if test="deptCode != null and deptCode != ''">
                dept_code = #{deptCode},
            </if>
            <if test="roleCode != null and roleCode != ''">
               role_code  = #{roleCode},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where id = #{tid}
    </update>
</mapper>