<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiwei.console.persistent.mapper.UserMapper">
    <!--The file was generated on 2017-11-06 14:52:56 by Administrator-->
    <resultMap id="BaseResultMap" type="com.caiwei.console.persistent.domain.UserPO">
        <id column="id" property="id"/>
        <result column="user_code" property="userCode"/>
        <result column="pass_word" property="passWord"/>
        <result column="emp_code" property="empCode"/>
        <result column="emp_name" property="empName"/>
        <result column="dept_code" property="deptCode"/>
        <result column="last_login" property="lastLogin"/>
        <result column="notes" property="notes"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_code, pass_word, emp_code, emp_name, dept_code, last_login, notes, status, create_time, modify_time
  </sql>
    <select id="findByUserCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_mdm_permis_user
        where user_code = #{user_code}
    </select>

    <insert id="insert" parameterType="com.caiwei.console.persistent.domain.UserPO">
    insert into t_mdm_permis_user (user_code, pass_word, emp_code, emp_name, dept_code, last_login, notes, status, create_time, modify_time)
    values (#{userCode}, #{passWord}, #{empCode}, #{empName}, #{deptCode}, #{lastLogin}, #{notes}, #{status}, #{createTime}, #{modifyTime})
  </insert>

    <update id="update" parameterType="com.caiwei.console.persistent.domain.UserPO">
        update t_mdm_permis_user
        <set>
            <if test="passWord != null and passWord != ''">
                pass_word = #{passWord},
            </if>
            <if test="empCode != null and empCode != ''">
                emp_code = #{empCode},
            </if>
            <if test="empName != null and empName != ''">
                emp_name = #{empName},
            </if>
            <if test="deptCode != null and deptCode != ''">
                dept_code = #{deptCode},
            </if>
            <if test="lastLogin != null">
                last_login = #{lastLogin},
            </if>
            <if test="notes != null">
                notes = #{notes},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
        </set>
        <where>
            <if test="userCode != null and userCode != ''">
                and user_code = #{userCode}
            </if>
            <if test="id != null">
                and id = #{id}
            </if>
        </where>
    </update>
</mapper>