<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiwei.console.persistent.mapper.UserMapper">
    <!--The file was generated on 2017-11-06 14:52:56 by Administrator-->
    <resultMap id="BaseResultMap" type="com.caiwei.console.common.domain.PermisUserDO">
        <id column="id" property="tid"/>
        <result column="user_code" property="userCode"/>
        <result column="pass_word" property="passWord"/>
        <result column="emp_code" property="empCode"/>
        <result column="emp_name" property="empName"/>
        <result column="dept_code" property="deptCode"/>
        <result column="last_login" property="lastLogin"/>
        <result column="notes" property="notes"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <resultMap id="DetailResultMap" extends="BaseResultMap" type="com.caiwei.console.common.domain.PermisUserDO">
        <collection property="roleCodes" column="role_code" ofType="java.lang.String">
            <result column="role_code" />
        </collection>
        <collection property="deptCodes" column="dept_code" ofType="java.lang.String">
            <result column="dept_code" />
        </collection>
    </resultMap>

    <resultMap id="queryOrgResCodeUrisByCodeResultMap" type="com.caiwei.console.common.domain.UserOrgResCodeUrisDO">
        <result column="resCode" property="resCode"/>
        <result column="resUri" property="resUri"/>
    </resultMap>

    <sql id="param_sql">
        <if test="userCode != null and userCode != ''">
            and user_code = #{userCode}
        </if>
        <if test="tid != null">
            and id = #{tid}
        </if>
        <if test="empCode != null and empCode != ''">
            and emp_code = #{empCode}
        </if>
        <if test="empName != null and empName != ''">
            and emp_name like  concat('%',concat(#{empName},'%'))
        </if>
        <if test="deptCode != null and deptCode != ''">
            and dept_code = #{deptCode}
        </if>
        <if test="lastLogin != null">
            and last_login = #{lastLogin}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
    </sql>

    <select id="findUsers" resultMap="BaseResultMap" parameterType="com.caiwei.console.common.domain.PermisUserDO">
        select <include refid="Base_Column_List"/>
        from t_mdm_permis_user u
        <where>
            <include refid="param_sql"/>
        </where>
    </select>

    <select id="queryOrgResCodeUrisByCode" resultMap="queryOrgResCodeUrisByCodeResultMap" parameterType="java.util.Map">
        select
            rs.res_code as resCode, rs.entry_url as resUri
        from t_mdm_permis_user_role ur,
            t_mdm_permis_resource rs,
            t_mdm_permis_role_resource rr
        where ur.role_code = rr.role_code
            and rr.res_code = rs.res_code
            and ur.user_code = #{userCode}
            and ur.dept_code = #{deptCode}
    </select>

    <sql id="Base_Column_List">
        u.id,
        u.user_code,
        u.pass_word,
        u.emp_code,
        u.emp_name,
        u.dept_code,
        u.last_login,
        u.notes,
        u.status,
        u.create_time,
        u.modify_time
    </sql>

    <select id="findUserByLoginCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        select user_code,pass_word,`status`
        from t_mdm_permis_user
        where user_code = #{user_code}
    </select>

    <select id="findUserDetail" resultMap="DetailResultMap" parameterType="java.lang.String">
        select
        ur.role_code,
        ur.dept_code,
        <include refid="Base_Column_List"/>
        from t_mdm_permis_user u, t_mdm_permis_user_role ur
        where u.user_code = ur.user_code and u.user_code = #{user_code}
    </select>

    <insert id="insert" parameterType="com.caiwei.console.persistent.domain.UserPO">
        insert into t_mdm_permis_user (user_code, pass_word, emp_code, emp_name, dept_code, last_login, notes, status, create_time, modify_time)
        values (#{userCode}, #{passWord}, #{empCode}, #{empName}, #{deptCode}, #{lastLogin}, #{notes}, #{status}, #{createTime}, #{modifyTime})
    </insert>
    
    <update id="updateStatus">
        update t_mdm_permis_user
        set `status` = #{status}
        where user_code in 
        <foreach collection="userCodes" close=")" open="(" item="item" separator=",">
            #{item}
        </foreach>
    </update>

    <update id="update" parameterType="com.caiwei.console.persistent.domain.UserPO">
        update t_mdm_permis_user
        <set>
            <if test="passWord != null and passWord != ''">
                pass_word = #{passWord},
            </if>
            <if test="empCode != null and empCode != ''">
                emp_code = #{empCode},
            </if>
            <if test="empName != null and empName != ''">
                emp_name = #{empName},
            </if>
            <if test="deptCode != null and deptCode != ''">
                dept_code = #{deptCode},
            </if>
            <if test="lastLogin != null">
                last_login = #{lastLogin},
            </if>
            <if test="notes != null">
                notes = #{notes},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
        </set>
        <where>
            <if test="userCode != null and userCode != ''">
                and user_code = #{userCode}
            </if>
            <if test="tid != null">
                and id = #{tid}
            </if>
        </where>
    </update>
</mapper>