<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiwei.business.user.mapper.DepartmentMapper" >
    <!--The file was generated on 2017-06-14 09:47:04 by Administrator-->
    <resultMap id="BaseResultMap" type="com.caiwei.business.user.api.domain.DepartmentPO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="dept_code" property="deptCode" jdbcType="VARCHAR" />
        <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
        <result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
        <result column="parent_name" property="parentName" jdbcType="VARCHAR" />
        <result column="version_no" property="versionNo" jdbcType="DECIMAL" />
        <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
        <result column="create_user" property="createUser" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="modify_user" property="modifyUser" jdbcType="VARCHAR" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, dept_code, dept_name, parent_code, parent_name, version_no, is_delete, create_user,
        create_time, modify_user, modify_time
    </sql>

    <select id="findDeptByCode" parameterType="String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_base_department t
        WHERE t.dept_code = #{deptCode,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.caiwei.business.user.api.domain.DepartmentPO" >
        insert into t_base_department (id, dept_code, dept_name,
        parent_code, parent_name, version_no,
        is_delete, create_user, create_time,
        modify_user, modify_time)
        values (#{id,jdbcType=INTEGER}, #{deptCode,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR},
        #{parentCode,jdbcType=VARCHAR}, #{parentName,jdbcType=VARCHAR}, #{versionNo,jdbcType=DECIMAL},
        #{isDelete,jdbcType=TINYINT}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{modifyUser,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="update" parameterType="com.caiwei.business.user.api.domain.DepartmentPO" >
        update t_base_department
        <set >
            <if test="deptCode != null" >
                dept_code = #{deptCode,jdbcType=VARCHAR},
            </if>
            <if test="deptName != null" >
                dept_name = #{deptName,jdbcType=VARCHAR},
            </if>
            <if test="parentCode != null" >
                parent_code = #{parentCode,jdbcType=VARCHAR},
            </if>
            <if test="parentName != null" >
                parent_name = #{parentName,jdbcType=VARCHAR},
            </if>
            <if test="versionNo != null" >
                version_no = #{versionNo,jdbcType=DECIMAL},
            </if>
            <if test="isDelete != null" >
                is_delete = #{isDelete,jdbcType=TINYINT},
            </if>
            <if test="createUser != null" >
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyUser != null" >
                modify_user = #{modifyUser,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null" >
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>