<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiwei.business.user.mapper.ResourceMapper" >
    <!--The file was generated on 2017-06-09 15:09:33 by Administrator-->
    <resultMap id="BaseResultMap" type="com.caiwei.business.user.api.domain.ResourcePO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="res_code" property="resCode" jdbcType="VARCHAR" />
        <result column="res_name" property="resName" jdbcType="VARCHAR" />
        <result column="entry_url" property="entryUrl" jdbcType="VARCHAR" />
        <result column="res_level" property="resLevel" jdbcType="TINYINT" />
        <result column="parent_res" property="parentRes" jdbcType="VARCHAR" />
        <result column="res_type" property="resType" jdbcType="TINYINT" />
        <result column="display_order" property="displayOrder" jdbcType="TINYINT" />
        <result column="checked" property="checked" jdbcType="TINYINT" />
        <result column="leaf_flag" property="leafFlag" jdbcType="TINYINT" />
        <result column="node_cls" property="nodeCls" jdbcType="VARCHAR" />
        <result column="icon_cls" property="iconCls" jdbcType="VARCHAR" />
        <result column="system_code" property="systemCode" jdbcType="VARCHAR" />
        <result column="notes" property="notes" jdbcType="VARCHAR" />
        <result column="version_no" property="versionNo" jdbcType="DECIMAL" />
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
        <result column="create_user" property="createUser" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="modify_user" property="modifyUser" jdbcType="VARCHAR" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, res_code, res_name, entry_url, res_level, parent_res, res_type, display_order,
        checked, leaf_flag, node_cls, icon_cls, system_code, notes, version_no, is_deleted,
        create_user, create_time, modify_user, modify_time
    </sql>

    <insert id="insert" parameterType="com.caiwei.business.user.api.domain.ResourcePO" >
        insert into t_super_resource (id, res_code, res_name,
        entry_url, res_level, parent_res,
        res_type, display_order, checked,
        leaf_flag, node_cls, icon_cls,
        system_code, notes, version_no,
        is_deleted, create_user, create_time,
        modify_user, modify_time)
        values (#{id,jdbcType=INTEGER}, #{resCode,jdbcType=VARCHAR}, #{resName,jdbcType=VARCHAR},
        #{entryUrl,jdbcType=VARCHAR}, #{resLevel,jdbcType=TINYINT}, #{parentRes,jdbcType=VARCHAR},
        #{resType,jdbcType=TINYINT}, #{displayOrder,jdbcType=TINYINT}, #{checked,jdbcType=TINYINT},
        #{leafFlag,jdbcType=TINYINT}, #{nodeCls,jdbcType=VARCHAR}, #{iconCls,jdbcType=VARCHAR},
        #{systemCode,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR}, #{versionNo,jdbcType=DECIMAL},
        #{isDeleted,jdbcType=TINYINT}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{modifyUser,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="update" parameterType="com.caiwei.business.user.api.domain.ResourcePO" >
        update t_super_resource
        <set >
            <if test="resCode != null" >
                res_code = #{resCode,jdbcType=VARCHAR},
            </if>
            <if test="resName != null" >
                res_name = #{resName,jdbcType=VARCHAR},
            </if>
            <if test="entryUrl != null" >
                entry_url = #{entryUrl,jdbcType=VARCHAR},
            </if>
            <if test="resLevel != null" >
                res_level = #{resLevel,jdbcType=TINYINT},
            </if>
            <if test="parentRes != null" >
                parent_res = #{parentRes,jdbcType=VARCHAR},
            </if>
            <if test="resType != null" >
                res_type = #{resType,jdbcType=TINYINT},
            </if>
            <if test="displayOrder != null" >
                display_order = #{displayOrder,jdbcType=TINYINT},
            </if>
            <if test="checked != null" >
                checked = #{checked,jdbcType=TINYINT},
            </if>
            <if test="leafFlag != null" >
                leaf_flag = #{leafFlag,jdbcType=TINYINT},
            </if>
            <if test="nodeCls != null" >
                node_cls = #{nodeCls,jdbcType=VARCHAR},
            </if>
            <if test="iconCls != null" >
                icon_cls = #{iconCls,jdbcType=VARCHAR},
            </if>
            <if test="systemCode != null" >
                system_code = #{systemCode,jdbcType=VARCHAR},
            </if>
            <if test="notes != null" >
                notes = #{notes,jdbcType=VARCHAR},
            </if>
            <if test="versionNo != null" >
                version_no = #{versionNo,jdbcType=DECIMAL},
            </if>
            <if test="isDeleted != null" >
                is_deleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createUser != null" >
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyUser != null" >
                modify_user = #{modifyUser,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null" >
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>