<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiwei.business.user.mapper.UserRoleMapper" >
    <!--The file was generated on 2017-06-09 15:10:01 by Administrator-->
    <resultMap id="BaseResultMap" type="com.caiwei.business.user.api.domain.UserRolePO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_code" property="userCode" jdbcType="VARCHAR" />
        <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
        <result column="role_code" property="roleCode" jdbcType="VARCHAR" />
        <result column="version_no" property="versionNo" jdbcType="DECIMAL" />
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
        <result column="create_user" property="createUser" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="modify_user" property="modifyUser" jdbcType="VARCHAR" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, user_code, org_code, role_code, version_no, is_deleted, create_user, create_time,
        modify_user, modify_time
    </sql>

    <select id="findUserRoleByUserCode" resultMap="BaseResultMap" parameterType="String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_super_user_role t
        WHERE t.user_code = #{userCode,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.caiwei.business.user.api.domain.UserRolePO" >
        insert into t_super_user_role (id, user_code, org_code,
        role_code, version_no, is_deleted,
        create_user, create_time, modify_user,
        modify_time)
        values (#{id,jdbcType=INTEGER}, #{userCode,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR},
        #{roleCode,jdbcType=VARCHAR}, #{versionNo,jdbcType=DECIMAL}, #{isDeleted,jdbcType=TINYINT},
        #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=VARCHAR},
        #{modifyTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="update" parameterType="com.caiwei.business.user.api.domain.UserRolePO" >
        update t_super_user_role
        <set >
            <if test="userCode != null" >
                user_code = #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="orgCode != null" >
                org_code = #{orgCode,jdbcType=VARCHAR},
            </if>
            <if test="roleCode != null" >
                role_code = #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="versionNo != null" >
                version_no = #{versionNo,jdbcType=DECIMAL},
            </if>
            <if test="isDeleted != null" >
                is_deleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createUser != null" >
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyUser != null" >
                modify_user = #{modifyUser,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null" >
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    
</mapper>