<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="DEBUG"/>

    <logger name="jdbc.sqltiming">
        <level value="info" />
    </logger>
    <logger name="jdbc.connection">
        <level value="info" />
    </logger>
    <logger name="jdbc.resultset">
        <level value="ERROR"/>
    </logger>
    <logger name="jdbc.audit">
        <level value="ERROR"/>
    </logger>
    <logger name="jdbc.sqlonly">
        <level value="ERROR"/>
    </logger>
    <logger name="jdbc.resultsettable" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="CONSOLE" />
    </logger>
</configuration>